<div class="container-fluid">
  <div class="card">
      <div class="card-body">
        <img class="img-top">Imagen: {{ PokemonDetailDTO.sprites.front_default}}
        <h5 class="card-title">Nombre</h5>
        <h5 class="card-title">Nombre: {{ PokemonDetailDTO.name}}</h5>       
        <p class="card-text">Peso: {{PokemonDetailDTO.weight }}</p>
        <p class="card-text">Abilidades: {{PokemonDetailDTO.abilities }}</p>
        <a href="#" class="card-link">Tipos: {{ PokemonDetailDTO.types }} </a>

      </div>
  </div>
</div>
