<div class="container-fluid">
  <div class="card">
      <div class="card-body">
        <img class="img-top">Imagen: {{ PokemonDetailDTOModule.sprites}}
        <h5 class="card-title">Nombre</h5>
        <h5 class="card-title">Nombre: {{ PokemonDetailDTOModule.name}}</h5>       
        <p class="card-text">Peso: {{PokemonDetailDTOModule.weight }}</p>
        <p class="card-text">Abilidades: {{PokemonDetailDTOModule.abilities }}</p>
        <a href="#" class="card-link">Tipos: {{ PokemonDetailDTOModule.types }} </a>

      </div>
  </div>
</div>
